* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background-color: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
    background: ghostwhite;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(85, 107, 47, 0.5);
    border-radius: 4px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: whitesmoke;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 8px 0;
}

.button {
    background: #0e4f1f;
    color: whitesmoke;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: whitesmoke;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header div, .main-nav {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}
.main-nav {
    text-align: right;
    width: calc(100% - 74px);
}
.main-nav__items {
    margin: 0;
    
}
.main-nav__item {
    display: inline-block;
    margin: 0 16px;    
}

.main-nav__item a {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 0;
}
.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 4px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border-bottom: none;
}

#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
}

#key-features .section-title {
    color: whitesmoke;
    margin: 32px;
}

.key-feature {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.key-feature__image {
    background-color: whitesmoke;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}